// Headings ----------------------------------------------------
// Use smaller headings with more vertical space

h2 {
  @include font-size(1.8rem);
  margin-top: 2.5rem;
}
// Reduce margin of first h2 on page
main .page-header + .section h2 {
  margin-top: 1rem;
}

h3 {
  @include font-size(1.5rem);
  margin-top: 2rem;
}
h4 {
  @include font-size(1.2rem);
  font-weight: bold;
  margin-top: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  color: mix($body-color, $primary, 90%);
  font-weight: 300;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

.page-header {
  border-bottom: none;
  min-height: 0;
  margin-bottom: 2rem;
  h1 {margin-top: 3rem}
}

#toc .nav {
  a.nav-link {
    color: inherit;
    padding: 0.25rem 0;
    font-weight: 300;

    &:hover, &:focus {
      text-decoration: underline;
    }
    &.active {
      color: #444;
      font-weight: 600;
    }

    // override pkgdown default
    &:hover, &:focus, &.active {
      background-color: $body-bg;
    }
  }
}

// Home page --------------------------------------------------------------

.template-home {
  .page-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    min-height: 0;
    margin: 2rem 0;
    padding: 2rem 0;

    h1 {margin-top: 0rem}

    @include media-breakpoint-down(sm) {
      margin: 0.5rem 0;
      padding: 0.5rem 0;
    }
  }
  img.logo {
    margin-left: 0;

    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
}

